@page "/"

@inject IDungeonDataManager DungeonManager
@inject HttpClient Http

<HeadContent>
    <link href="css/cssreset-min.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />

    <script src="scripts/jquery-3.7.1.min.js"></script>
    <script src="scripts/dungeon_crawler.min.js"></script>
</HeadContent>

<div id="play-area">
    <div class="dungeon">
        <div id="stage">
            @if (dungeon == null) {
                <div class="loading">
                    <img src="/images/tiles/blue/base_tile.png" />
                </div>
            } else {
                <h1>DUNGEON @dungeon.Id.ToString()</h1>
            }
        </div>
    </div>
    <div class="button">
        <button id="advance" disabled>Advance</button>
    </div>
    <div class="details">
        <div class="adventurer">
            <div class="level">
                <span class="label">Level</span>
                <span class="value" id="current-level">
                    @if (dungeon != null) {
                        @dungeon.Level.Depth.ToString()
                    }
                </span>
            </div>
            <div class="stats">
                <div class="health">
                    <span class="label">Health</span>
                    <span class="value" id="current-health">
                        @if (dungeon != null) {
                            @dungeon.Adventurer.HealthBase.ToString()
                        }
                    </span>
                </div>
                <div class="damage">
                    <span class="label">Damage</span>
                    <span class="value" id="current-damage">
                        @if (dungeon != null) {
                            @dungeon.Adventurer.DamageBase.ToString()
                        }
                    </span>
                </div>
                <div class="protection">
                    <span class="label">Protection</span>
                    <span class="value" id="current-protection">
                        @if (dungeon != null) {
                            @dungeon.Adventurer.ProtectionBase.ToString()
                        }
                    </span>
                </div>
            </div>
            <div class="dice"></div>
        </div>
        <div id="log"></div>
    </div>
</div>

<div id="version">
    <span class="api-version">
        @((MarkupString)apiVersion)
    </span>
    <span class="client-version">Client V0.2.1</span>
</div>

@code {
    Dungeon? dungeon = null;
    string apiVersion = "API V0.0.0";

    protected override async Task OnParametersSetAsync() {
        await SetupDungeon();
    }

    async Task SetupDungeon() {
        dungeon = await DungeonManager.GenerateNewDungeon();
        apiVersion = $"API V{dungeon.ApiVersion}";

        await InvokeAsync(StateHasChanged);
    }
}
