@if (Messages != null && Messages.Count > 0) {
    foreach (Message message in Messages) {
        <div data-identity="@message.Id" class="log-entry">
            <span class="log-entry-message" @onmouseenter="@(() => CallParentUpdateDiceFunction(message.SafeDice, message.DangerDice))">
                @message.Text
            </span>
            @if (message.Children != null && message.Children.Count > 0) {
                <div class="log-actions">
                    @foreach (Message childMessage in message.Children) {
                        <span class="log-action-message" @onmouseenter="@(() => CallParentUpdateDiceFunction(childMessage.SafeDice, childMessage.DangerDice))">
                            @childMessage.Text
                        </span>
                        @if (childMessage.Children != null && childMessage.Children.Count > 0) {
                            <div class="log-action-child">
                                @foreach (Message grandchildMessage in childMessage.Children) {
                                    <span class="log-action-child-message" @onmouseenter="@(() => CallParentUpdateDiceFunction(grandchildMessage.SafeDice, grandchildMessage.DangerDice))">
                                        @grandchildMessage.Text
                                    </span>
                                }
                            </div>
                        }
                    }
                </div>
            }
        </div>
    }
}